.dropdown_button {
    position: relative;
    color: #fff;
    font-size: 22px;
    margin-left: 50px;
    cursor: pointer;
    font-family: var(--ff-all);
    display: flex;
    justify-content: center;
    align-items: center;
}

.dropdown_content {
    display: none;
    border-radius: 12px;
    background: radial-gradient(circle at 60%, var(--bg-color),var(--bg-color));
    z-index: 1;
    opacity: 0;
    height: 0;
}

.dropdown_content > li {
    text-decoration: none;
    color: #fff;
    font-size: 22px;
    cursor: pointer;
    font-family: var(--ff-all);
    padding: 20px;
    border-radius: 12px;
    opacity: 0;
    transition: 0.3s;
    animation: fadeInLi 0.5s forwards;
}

@keyframes fadeInLi {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.my_icon{
    color: var(--m-font);
    margin-left: 5px;
    animation: rotateback 0.5s;
}

@keyframes rotateback{
    0%{
        transform: rotate(180deg);
    }
    100%{
        transform: rotate(0);
    }
}

.down{
    animation: rotate 0.3s forwards;
}

@keyframes rotate{
    0%{
        transform: rotate(90deg);
    }
    100%{
        transform: rotate(180deg);
    }
}


.dropdown_content.open_anim {
    width: 275px;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 105px;
    margin-left: 25px;
    animation: fadeIn 0.5s forwards;
}

@keyframes fadeIn {
    0% {
        opacity: 0.2;
        height: 50;
    }
    25% {
        opacity: 0.4;
        height: 100px;
    }
    50% {
        opacity: 0.6;
        height: 150px;
    }
    75% {
        opacity: 0.8;
        height: 200px;
    }
    100% {
        opacity: 1;
        height: 250px;
    }
}

.dropdown_content > li:nth-of-type(1){
    animation-delay: 0.2s;
}

.dropdown_content > li:nth-of-type(2){
    animation-delay: 0.5s;
}

.dropdown_content > li:nth-of-type(3){
    animation-delay: 0.8s;
}
/* 
.dropdown_content > li:nth-of-type(4){
    animation-delay: 0.8s;
} */

@media screen and (max-width: 1240px) {
    .dropdown_button {
        font-size: 18px;
    }
}

@media screen and (max-width: 1024px) {
    .dropdown_button {
        font-size: 22px;
        margin-right: 40px;
    }
    .dropdown_content.open_anim{
        width: 275px;
        z-index: 5;
        top: 140px;
        right: 7px;
        border: 2px solid red;
        background: radial-gradient(circle at 60%, var(--bg-color),var(--bg-color));
    }
    .dropdown_content.open_anim > li{
        padding-left: 15px;
    }
}