.slider_container {
    width: 80%;
    margin: 0 auto;
}

.review_slide {
    padding: 20px;
    text-align: center;
}

.section > h3{
    font-size: 56px;
    text-align: center;
    margin-bottom: 50px;
    font-family:  var(--m-font);
}

.review_content p {
    margin: 10px 0;
}

.text {
    font-family: var(--m-font);
    font-size: 28px;
    font-weight: 600;
    color: #5b5b5b;
    
}

.review_content > a{
    color: #777;
    font-size: 20px;
}

.text > span{
    font-family: var(--m-font);
    font-size: 40px;
    color: #5b5b5b;

}

.author {
    color: #5b5b5b;
    font-size: 22px;
}

.author {
    font-weight: bold;
    color: #5b5b5b;

}

.date,
.likes,
.comments {
    font-size: 20px;
    font-family: var(--m-font);
    color: #777;
}

.read_more, .read_less{
    border: none;
    outline: none;
    font-size: 18px;
    color: #777;
    font-family: var(--m-font);
}