.header_wrapper {
    width: 100%;
    max-width: 1728px;
    height: 80px;
    background: var(--bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 2;
    transition: top 0.5s ease;
}

.header_wrapper.hide {
    top: -80px;
}

.header_wrapper.show {
    top: 0;
}

.logo_container>a {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.logo_container h1 {
    font-family: var(--m-font);
    font-size: 36px;
    color: var(--font-color);
}

.logo {
    width: 100px;
    height: 100px;
}

@media only screen and (max-width: 1240px) {
    .logo_container h1 {
        font-size: 25px;
    }
}

@media only screen and (max-width: 1024px) {
    .logo_container h1 {
        font-size: 20px;
    }
}

@media only screen and (max-width: 768px) {
    .logo_container h1 {
        font-size: 18px;
    }

    .header_wrapper {
        padding: 0 15px;
        /* Reduce padding on smaller screens */
    }
}

@media only screen and (max-width: 480px) {
    .logo_container h1 {
        font-size: 16px;
    }

    .logo {
        width: 80px;
        height: 80px;
    }
}