.nav_bar {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav_bar > li a {
    margin-left: 40px;
}

@media screen and (max-width: 1250px) {
    .nav_bar > li a {
        font-size: 15px;
    }
}

@media screen and (max-width: 1024px) {
    .nav_bar {
        display: none;
    }

    .phone_num {
        display: none;

    }
}