@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:focus,
*:active {
  outline: none !important;
  -webkit-tap-highlight-color: transparent;
}

@font-face {
  font-family: 'Caveat', cursive;
  src: url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');
}

@font-face {
  font-family: 'Roboto', sans-serif;
  src: url('https://fonts.googleapis.com/css2?family=Caveat&family=Roboto&display=swap');
}

:root {
  --m-font: 'Caveat', cursive;
  --bg-color: #18186c;
  --font-color: #fff;
  --ff-all: 'Roboto', sans-serif;
}

.container {
  margin: 40px 40px;
}

li {
  list-style: none;
}

li > a {
  text-decoration: none;
  color: #fff;
  font-size: 22px;
  cursor: pointer;
  font-family: var(--ff-all);
}